/* global */

* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    text-align: right;
    font-family: Arial, sans-serif;
    line-height: 1;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
}

li {
    white-space: nowrap;
    width: auto;
}

h3 {
    color: #575757;
    padding: 0 0 8px 0;
    margin: 0 5px 10px 5px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
}

section {
    width: 291px;
}

main .row-1 {
    margin: 30px 1px 30px 1px;
}

main .row-2 {
    margin: 30px 1px 80px 1px;
    height: 216px;
}

main>.row {
    display: flex;
    justify-content: space-between;
}

.row-2>.col:last-child>.row {
    display: flex;
}

/* sized layout */

.header>.inside-header, main, .footer-links {
    width: 900px;
    margin: auto;
}

.header {
    height: 105px;
    width: 100%;
    background-color: #bcbcbc;
    background-image: linear-gradient(to bottom, #909090, #969696, #9d9d9d, #a3a3a3, #aaaaaa);
}

.row-2>.col:last-child .row {
    display: flex;
    justify-content: space-between;
}

.row-2>.col:last-child .col {
    display: flex;
    flex-direction: column;
}

/* first row in main */

.row-1 section .img {
    border-radius: 0 0 8% 0;
    right: 100%;
    bottom: 10%;
    height: 354px;
}

/* second row in main */

.row-2 section {
    padding: 20px;
    border-radius: 0 8% 0 0;
    border: solid 1px #bec2b6;
    right: 100%;
    bottom: 10%;
    height: 226px;
    background-image: linear-gradient(to bottom, #ffffff, #fafafa, #f5f5f5, #f1f1f1, #ececec);
}

/* header */

/* serach component */

.header-row-search {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

.search-box>input {
    margin: 0;
    padding: 2px;
    vertical-align: top;
    border: 0;
    border-radius: 0 8% 0 0;
}

.search-box>button {
    height: 19px;
}

/* end serach */

#lang {
    font-size: 12px;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-left: 10px;
}

/* menu */

.header-menu {
    margin-top: 29px;
    margin-right: 150px;
}

.header-menu>ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    position: relative;
}

.dropdown {
    position: relative;
}

.dropdown a {
    background-color: rgb(165, 165, 165);
    font-size: 15px;
    text-decoration: none;
    display: block;
    color: white;
}

.dropdown>a {
    border-left: white 1px solid;
    font-weight: bold;
    padding: 0 15px;
}

.dropdown-content a {
    padding: 10px;
    border-bottom: 1px white solid;
}

.dropdown-content a:hover {
    background-color: lightgray;
}

.header-menu>ul>li:nth-child(1) {
    margin-left: 10px;
}

.header-menu>ul>li:nth-child(2)>a {
    border-right: 1px white solid;
    border-left: 1px white solid;
}

.dropdown:last-child>a {
    border: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100%;
    top: 100%;
    /* border-bottom: 1px white solid; */
}

.dropdown:hover>.dropdown-content {
    display: block;
}

ul>li>a:hover, div.dropdown-content>a:hover {
    color: blue;
    text-decoration: underline;
}

.logo {
    position: absolute;
    top: 50px;
}

/* end menu */

/* first line in main */

.img1 {
    background-image: url('./images/1908364606615453350.JPG');
}

.img2 {
    background-image: url('./images/Picture-046410251500.JPG');
}

.img3 {
    background-image: url('./images/291_354410564000.JPG');
}

.img h3 {
    color: white;
    border: 0;
    margin: 0;
    line-height: 1;
}

.img p {
    font-size: 13px;
    margin: 0;
    color: white;
    padding: 0;
    margin: 0;
    line-height: 1;
    text-align: right;
}

.space {
    height: 245px;
}

.img>div:last-child {
    border-radius: 0 0 11% 0;
    background-color: gray;
    width: 228px;
    height: 100px;
    border: 0;
    padding: 8px 8px 8px 8px;
    margin: 0 8px 0 0;
}

.more>a {
    color: white;
    font-size: 13px;
    margin: auto auto auto 3px;
}

.more-yellow>a {
    color: black;
    font-size: 13px;
    margin: auto auto auto 3px;
}

.more .pic-more {
    background-image: url('./images/read_more_white.png');
    height: 9px;
    width: 8px;
    margin-top: 3px;
}

.more-yellow .pic-more {
    background-image: url('./images/read_more_yellow.png');
    height: 9px;
    width: 8px;
    margin-top: 3px;
}

.more:hover .pic-more {
    background-image: url('./images/read_more_blue.png');
}

.more-yellow:hover .pic-more {
    background-image: url('./images/read_more_blue.png');
}

.more:hover a {
    color: blue;
}

.more-yellow:hover a {
    color: blue;
}

.more, .more-yellow {
    display: flex;
    justify-content: flex-end;
    justify-items: end;
}

/* end first line  */

/* Second line in main */

.footer-links {
    background-color: gray;
    font-size: 14px;
}

footer {
    background-color: gray;
    height: 48px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.footer-links>a {
    color: white;
    text-decoration: none;
    border-left: white 2px solid;
    margin: 20px 0 5px 0;
    padding: 0 2px 0 5px;
    display: inline-block;
}

.footer-links>a:hover {
    color: blue;
    text-decoration: underline;
}

.footer-links>a:last-child {
    color: red;
    border: 0;
}

.footer-links>a:last-child {
    border: left 0;
}

/* contact form */

.contact .row {
    display: flex;
    justify-content: space-between;
}

.contact .col-1 {
    width: 122px;
    height: 100%;
}

.contact .col-2 {
    width: 400px;
    height: 100%;
}

.contact .col-3 {
    width: 292px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-btn {
    border: 1px;
    width: 100%;
    margin-right: 4px;
    height: 36px;
}

.sidebar-btn {
    background-image: url('./images/side_menu_sprite');
}

.sidebar-btn a {
    color: black;
    text-decoration: none;
}

.sidebar-btn:hover a {
    color: blue;
    text-decoration: underline;
}

.contact .col {
    padding: 0 20px;
}

.contact h2 {
    font-size: 15px;
    color: blue;
}

.contact .title {
    color: gray;
    font-size: 16px;
    display: block;
    border-bottom: gray solid 1px;
    padding-bottom: 10px;
}

.contact section {
    padding: 10px;
    border-radius: 0 8% 0 0;
    border: solid 1px #bec2b6;
    background-image: linear-gradient(to bottom, #ffffff, #fafafa, #f5f5f5, #f1f1f1, #ececec);
    width: 100%;
}

.contact section.middle {
    height: 377px;
}

.contact p, .contact label {
    font-size: 12px;
    margin: 5px;
}

.contact section>p:nth-child(2) {
    font-weight: bold;
}

.first-row {
    margin-top: 37px;
}

form .row {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.contact .col-2 form {
    width: 245px;
    margin: auto;
}

#form-textarea {
    width: 100%;
    height: 100px;
}

#send {
    background-color: blue;
    border-radius: 0 8% 0 0;
    width: 35px;
    height: 21px;
    float: left;
    color: white;
    font-size: 14px;
}

.contact section.left-bottom a, .contact section.left-bottom {
    font-size: 12px;
}

section.left-up, section.left-bottom {
    height: 175px;
}



.error {
    color: red;
    display: none;
  }
  
  /* input:invalid form > div:nth-child(4) > div.col-label > div{
    border-color:  purple;
    outline-color: purple;
    border: 1px solid;

  } */

  input:invalid input::after{
    content: "mistake";
  }