* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    text-align: right;
    font-family: Arial, sans-serif;
}

.search-box>input {
    margin: 0;
    padding: 2px;
    vertical-align: top;
}

.search-box>button {
    margin: 0;
    padding: 0;
    border: 0;
}

.header {
    height: 105px;
    width: 100%;
    background-color: #bcbcbc;
    border: solid;
}

.header>.inside-header {
    width: 900px;
    border: solid;
    margin: auto;
    position: relative;
}

.header-row-search {
    display: flex;
    justify-content: flex-end;
}

.header-row-search>.col {
    margin-right: 10px;
}

.header-menu {
    margin-top: 50px;
    margin-right: 150px;
}

.header-menu>ul {
    list-style: none;
    display: flex;
    position: relative;
}

.dropdown>a, .dropdown-content>a {
    text-decoration: none;
    display: block;
    padding: 0 10px 0 10px;
    color: white;
    background-color: #bcbcbc;
    word-wrap: unset;
    font-size: 15px;
}

.dropdown>a {
    border-left: white 1px solid;
}

.dropdown:last-child>a {
    border: 0;
}

.header-menu>ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width:100%;
    top: 100%;

    /* box-shadow: 20px 20px 9px 0px rgba(0, 0, 0, 0.25); */
}

.dropdown {
    position: relative;
}

.dropdown:hover>.dropdown-content {
    display: block;
}

ul>li>a:hover, div.dropdown-content>a:hover {
    color: blue;
    text-decoration: underline;
}

.logo {
    position: absolute;
    top: 50px;
}

li {
    white-space: nowrap; 
    width: auto;
  }

